body {
    background-image: url("https://media-assets-05.thedrum.com/cache/images/thedrum-prod/s3-news-tmp-10557-netflixa--default--1280.jpg");
    background-size:cover;
}

.container {
    text-align: center;
    margin:0px auto 0px auto;
    background-color:black; 
    width:400px;
    height:450px;
    padding:5px;
    border-radius:10px;
    opacity:0.9;
}

h2 {
    color:whitesmoke;
    position: relative;
    left:-80px;
    font-family: 'Inter', sans-serif;
    padding-top:20px;
}

input {
    position: relative;
    left:-10px;
    background-color:rgb(59, 59, 59);

    border-radius: 5px;
    width:250px;
    height:35px;
    opacity: 2;
}

::placeholder {
    color:rgb(105, 104, 104);
    padding:15px;
}

#ext {
    margin-top:20px;
}

button {
background-color:red;
margin-top:10px;
padding:15px;
font-family: 'Inter', sans-serif;
color:whitesmoke;
width:280px;
border-radius:5px;
}

