body {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

   text-align: center;
    
}

.main {
   
        border-radius: 10px;
        background: #7796c5;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b6fbff, #83a4d4);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b6fbff, #83a4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        padding: 25px; 
        width: 500px;
        height: 450px; 
        overflow-y: scroll;
        margin-left:400px; 
        margin-bottom:10px;
        border:1px solid black;
        text-align: center

}

::-webkit-scrollbar {
    width: 5px;
    }
    
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgb(60, 167, 238);
    border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #849dca; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
    
h1 {
    font-family: 'Beau Rivage', cursive;
}

h3  {
    font-family: cursive;
}

p {
    font-family: 'Playfair Display', serif;
}


#details {
    text-align: left;
    
   
}

h3, p {
    display: inline;
}


#contact {
    text-align: left;
}


#intro {
    color:rgb(34, 39, 51);
    font-family: 'Rubik Moonrocks', cursive;
    text-decoration: underline;
    
}

.red {
    color:#55375a;
    text-decoration:none;
}
